:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@keyframes disappear-appear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.speechBox1 {
  animation: disappear-appear 1.5s ease-in-out infinite;
}

.speechBox2 {
  animation: disappear-appear 1.6s ease-in-out infinite;
}

.speechBox3 {
  animation: disappear-appear 1.7s ease-in-out infinite;
}

.speechBox4 {
  animation: disappear-appear 1.8s ease-in-out infinite;
}

.speechBox5 {
  animation: disappear-appear 1.9s ease-in-out infinite;
}

.speechBox6 {
  animation: disappear-appear 2s ease-in-out infinite;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
